<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TRASTE-ARTE</title>
    </head>
<body>
    <h1>BIENVENIDO A TRASTE-ARTE</h1>
    <nav>
        <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

    <form action="/login" method="POST">
        <h2>Login</h2>
        <div>
            <label for="username">Usuario:</label>
            <input type="number" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Ingresar</button>
    </form>
    </body>
</html>
