<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones del sistema</title>
</head>
<body>
    <h3>haga click en la opcion deseada</h3>

    <br>
    <a href="/productos">gestion de productos</a>
    <br>
    <a href="/categorias">gestion de categorias</a>
    <br>
    <a href="/compras">gestion de compras</a>
    <br>
    <a href="/inventario">gestion de inventario</a>
    <br>
    <a href="/clientes">gestion de clientes</a>
    <br>
    <a href="/pedidos">gestion de pedidos</a>

    

    
</body>
</html>